# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Listar lenguajes populares para Ciencia de Datos**
- Lenguajes populares
- Librerías principales
- Herramientas de código abierto
- Ejemplos de código en Python

## Autor
Iván Fernando Hernández Ceseña

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. Tensolflow
3. Pandas
4. NumPy

|Tool|
|----|
|Jupyter|
|Git|
|R|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

esta es una expresión aritmética simple para luego agregar números enteros

In [1]:
(3*4)+5

17

Esto convertirá 200 minutos en horas buceando en 60

In [3]:
200//60

3